apiVersion: v1
kind: ReplicationController
metadata:
  name: sensu-client-v1
  namespace: kube-system
  labels:
    name: sensu-client
    version: v1
spec:
  replicas: 1
  selector:
    name: sensu-client
    version: v1
  template:
    metadata:
      labels:
        name: sensu-client
        version: v1
    spec:
      containers:
      - name: sensu-client
        image: oslobod/sensu
        imagePullPolicy: Always
        args:
        - "client"
        resources:
          limits:
            cpu: 100m
        env:
        - name: RABBITMQ_HOST
          value: "rabbitmq-master"
        - name: RABBITMQ_PORT
          value: "5672"
        - name: CLIENT_ADDRESS
          value: "{{ ansible_hostname }}"
        - name: CLIENT_NAME
          value: "{{ ansible_hostname }}"
        - name: CLIENT_SUBSCRIPTIONS
          value: "all,default,metrics"
        - name: HOST_DEV_DIR
          value: "/host_dev"
        - name: HOST_PROC_DIR
          value: "/host_proc"
        - name: HOST_SYS_DIR
          value: "/host_sys"
        volumeMounts:
        - name: host-dev
          mountPath: /host_dev
        - name: host-proc
          mountPath: /host_proc
        - name: host-sys
          mountPath: /host_sys
      volumes:
      - name: host-dev
        hostPath:
          path: /dev
      - name: host-proc
        hostPath:
          path: /proc
      - name: host-sys
        hostPath:
          path: /sys
