# etcd config
{% set my_ip = hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][0] -%}
{% set all_etcd = [] -%}
{% for host in groups['role=control'] -%}
  {% set listen_ip = hostvars[host]['ansible_all_ipv4_addresses'][0] -%}
  {% set _ = all_etcd.append("default=http://%(listen_ip):2380") -%}
{% endfor -%}
ETCD_NAME=default
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001"
ETCD_LISTEN_PEER_URLS=http://{{my_ip}}:2380
ETCD_ADVERTISE_CLIENT_URLS="http://0.0.0.0:4001"

ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{my_ip}}:2380
ETCD_INITIAL_CLUSTER={{all_etcd|join(',')}}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
