[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --api-servers=http://localhost:8080 \
  --register-node=true \
  --register-schedulable=false \
  --hostname-override={{ inventory_hostname }} \
  --allow-privileged=true \
  --cluster-dns={{ dns_server }} \
  --cluster-domain={{ dns_domain }} \
  --v={{ kube_log_level }} \
  --config={{ kube_manifest_dir }} {% if enable_cloud_provider %}\
  --cloud-provider={{ cloud_provider }} \
  --cloud-config={{ cloud_provider_config }}
{% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
