apiVersion: v1
kind: Config
current-context: kubectl-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: "{{ lookup('file', cert_syncdir.path+'/certs/'+'ca.crt') | b64encode }}"
    server: https://{{ groups['master'][0] }}:{{ kube_master_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubectl
  name: kubectl-to-{{ cluster_name }}
users:
- name: kubectl
  user:
    token: "{{ lookup('file', tokens_syncdir.path+'/'+'system:kubectl-kubecfg.token') }}"
