{
    "kind": "Node",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ item }}"
    },
    "spec": {
        "externalID": "{{ item }}"
    },
    "status": {
        "capacity": {
            "cpu": "1",
            "memory": "1"
        }
    }
}
